{% extends 'business-to-business/_layouts' %}
{% set selectedSubnavItem = 'vouchers' %}

{% set crumbs = [
	{ label: 'Business To Business' | t('business-to-business'), url: url('business-to-business') },
	{ label: business.name | t('business-to-business'), url: url('business-to-business/vouchers/' ~ business.handle) },
] %}
{% set tabs = {
        0: {'label':'Voucher'|t('business-to-business'),'url':'#voucher-tab'},
        1: {'label':'Checkout Rules'|t('business-to-business'),'url':'#checkout-tab'}
    } %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% import '_includes/forms' as forms %}
{% import 'business-to-business/vouchers/_fields' as voucherFields %}

{% block header %}
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
    <div class="flex-grow"></div>

    {% if showPreviewBtn or shareUrl is defined %}
        {% if showPreviewBtn %}
            <div class="btn livepreviewbtn">{{ 'Live Preview' | t('app') }}</div>
        {% endif %}

        {% if shareUrl is defined %}
            <a href="{{ shareUrl }}" class="btn sharebtn" target="_blank">{{ 'Share' | t('app') }}</a>
        {% endif %}

        <div class="flex-grow"></div>
    {% endif %}

    {{ block('actionButton') }}
{% endblock %}

{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save' | t('business-to-business') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ continueEditingUrl | hash }}">
                        {{ 'Save and continue editing' | t('business-to-business') }}
                        {{ forms.optionShortcutLabel('S') }}
                    </a>
                </li>

                {% if voucher.id %}
                    <li>
                        <a class="formsubmit" data-param="voucherId" data-value="" data-redirect="{{ continueEditingUrl | hash }}">
                            {{ 'Save as a new voucher' | t('business-to-business') }}
                        </a>
                    </li>
                {% endif %}
            </ul>

            {% if voucher.id %}
                <hr>
                <ul>
                    <li>
                        <a class="formsubmit error" data-action="business-to-business/vouchers/delete" data-confirm="{{ 'Are you sure you want to delete this voucher?' | t('business-to-business') }}" data-redirect="{{ 'business-to-business/vouchers' | hash }}">
                            {{ 'Delete' | t('business-to-business') }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        <div class="btn menubtn" data-icon="world">{{ voucher.site.name | t('site') }}</div>
        <div class="menu">
            <ul class="padded">
                {% for siteId in siteIds %}
                    {% set site = craft.app.sites.getSiteById(siteId) %}
                    {% set status = siteId in enabledSiteIds ? 'enabled' : 'disabled' %}

                    <li>
                        {% if siteId == voucher.siteId %}
                            <a class="sel">
                                <div class="status {{ status }}"></div>{{ site.name | t('site') }}
                            </a>
                        {% else %}
                            {% set url = url('business-to-business/vouchers/#{businessHandle}/#{craft.app.request.getSegment(4)}/#{site.handle}') %}

                            <a href="{{ url }}">
                                <div class="status {{ status }}"></div>{{ site.name | t('site') }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div id="voucher-tab">
	<input type="hidden" name="action" value="business-to-business/vouchers/save">
	{{ redirectInput('business-to-business/vouchers') }}
	<input type="hidden" name="businessId" value="{{ business.id }}">
	{% if voucher.id %}<input type="hidden" name="voucherId" value="{{ voucher.id }}">{% endif %}

	<div id="fields">
        {%- import '_includes/forms' as forms -%}
            
            <div>
                {{ forms.textField({
                    label: 'Title' | t('business-to-business'),
                    site: voucher.site,
                    id: 'title',
                    name: 'title',
                    value: voucher.title,
                    placeholder: 'Enter title' | t('business-to-business'),
                    errors: voucher.getErrors('title'),
                    first: true,
                    autofocus: true,
                    required: true,
                    maxlength: 255
                }) }}
                {{ forms.elementSelectField({
                    label: "Products Allowed"|t('business-to-business'),
                    instructions: "Leave blank if this voucher has no product limits",
                    id: 'products',
                    name: 'products',
                    elementType: productElementType,
                    selectionLabel: "Add Products"|t('business-to-business'),
                    elements: (products is defined and products ? [products][0])
                }) }}
                {% for tab in business.getFieldLayout().getTabs() %}
                    <div id="{{ tab.getHtmlId() }}" {% if not loop.first %} class="hidden" {% endif %}>
                        {% include '_includes/fields' with {
                            fields: tab.getFields(),
                            element: voucher,
                        } only %}
                    </div>
                {% endfor %}
            </div>
    </div>
    
    {% if not voucher.slug %}
        {% js %}
            window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');
        {% endjs %}
    {% endif %}
</div>
<div id="checkout-tab" class="hidden">
        {% import '_includes/forms' as forms %}
            <h2>{{ "Shipping Rules" |t('business-to-business') }}</h2>

            <table id="shipping-categories-conditions"
                   class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th scope="col">{{ 'Shipping Method'|t('business-to-business') }}</th>
                    <th scope="col">{{ 'Condition'|t('business-to-business') }} <span class='info'>Setting any value below to "Require" will result in employee having no other Shipping Method options.<p style="color:red">Note: "Apply Cost to Voucher" allows the Gateway to be used and charges the business for shipping charges incurred.</p></span></th>
                </tr>
                </thead>
                <tbody>
                {% for shippingRule in shippingRules %}
                
                    {% set id = shippingRule.id %}
                    <tr{% if id %} data-id="{{ id }}" data-name="{{ shippingRule.name }}"{% endif %}>
                        <th scope="row" data-title="{{ 'Name'|t('business-to-business') }}">
                            {{ shippingRule.name }}
                        </th>
                        <td data-title="{{ 'Condition'|t('business-to-business') }}">
                            {{ forms.selectField({
                                name: 'shippingRulesBusiness['~shippingRule.shippingMethodId~'][condition]',
                                value: shippingRule.condition ?? 'allow',
                                options: ShippingRulesOptions
                            }) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <h2>{{ "Gateway Rules"|t('business-to-business') }}</h2>

            <table id="shipping-categories-conditions"
                   class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th scope="col">{{ 'Gateway'|t('business-to-business') }}</th>
                    <th scope="col">{{ 'Condition'|t('business-to-business') }} <span class='info'>Setting any value below to "Require" will result in employee having no other Gateway options.</span></th>
                    <th scope="col">{{ 'Default OrderStatus'|t('business-to-business') }} <span class='info'>Override Default OrderStatus based on Business and Gateway.</span></th>
                </tr>
                </thead>
                <tbody>

                {% for gatewayRule in gatewayRules %}
                
                    {% set id = gatewayRule.id %}
                    <tr{% if id %} data-id="{{ id }}" data-name="{{ gatewayRule.name }}"{% endif %}>
                        <th scope="row" data-title="{{ 'Name'|t('business-to-business') }}">
                            {{ gatewayRule.name }}
                        </th>
                        <td data-title="{{ 'Condition'|t('business-to-business') }}">
                            {{ forms.selectField({
                                name: 'gatewayRulesBusiness['~gatewayRule.gatewayId~'][condition]',
                                value: gatewayRule.condition ?? 'allow',
                                options: GatewayRulesOptions
                            }) }}
                        </td>
                        <td data-title="{{ 'Gateway'|t('business-to-business') }}">
                            {{ forms.selectField({
                                name: 'gatewayRulesBusiness['~gatewayRule.gatewayId~'][orderStatusId]',
                                value: gatewayRule.orderStatusId ?? defaultOrderStatus,
                                options: orderStatusOptions
                            }) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}

{% block details %}
    <div class="meta">
        {{ voucherFields.generalMetaFields(voucher) }}

        {{ forms.lightswitchField({
            label: 'Enabled' | t('business-to-business'),
            id: 'enabled',
            name: 'enabled',
            on: voucher.enabled
        }) }}

        {% if craft.app.getIsMultiSite() %}
            {{ forms.lightswitchField({
                label: 'Enabled for site' | t('business-to-business'),
                id: 'enabledForSite',
                name: 'enabledForSite',
                on: voucher.enabledForSite
            }) }}
        {% endif %}
       
    </div>

    <hr>

    <div class="meta">
        {{ voucherFields.behavioralMetaFields(voucher) }}
    </div>

    <hr>

    <div class="meta">
        {{ voucherFields.generalFields(voucher) }}
    </div>

    <hr>

    {% if voucher.id %}
        <hr>

        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ 'Date Created' | t('business-to-business') }}</h5>
                <div class="value">{{ voucher.dateCreated | date('short') }} {{ voucher.dateCreated | time('short') }}</div>
            </div>

            <div class="data">
                <h5 class="heading">{{ 'Date Updated' | t('business-to-business') }}</h5>
                <div class="value">{{ voucher.dateUpdated | date('short') }} {{ voucher.dateUpdated | time('short') }}</div>
            </div>
        </div>
    {% endif %}
    
{% endblock %}